<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lvjp.association.mapper.ActivityMapper">

    <sql id="testRights" >
        <if test="associationId != 0">
            and association_id = #{associationId}
        </if>
    </sql>

    <select id="selectLatest" parameterType="integer" resultType="ActivityInfo" >
        select activity_id,activity_title,activity_image,activity_label
        from activity
        where text_status = 1
        order by start_time desc limit #{count}
    </select>

    <select id="selectCurrent" resultType="ActivityInfo" parameterType="integer">
        select activity_id,activity_title,activity_image,activity_label
        from activity
        where text_status = 1 and start_time &lt; now() and end_time &gt; now()
        order by start_time desc
    </select>

    <select id="selectFuture" resultType="ActivityInfo" >
        select activity_id,activity_title,activity_image,activity_label
        from activity
        where text_status = 1 and start_time &gt; now()
        order by start_time desc
    </select>

    <select id="selectPast" resultType="ActivityInfo" >
        select activity_id,activity_title,activity_image,activity_label
        from activity
        where text_status = 1 and end_time &lt; now()
        order by start_time desc
    </select>

    <select id="selectCurrentByAssociation" parameterType="integer" resultType="ActivityInfo">
        select activity_id,activity_title,activity_image,activity_label,start_time,end_time
        from activity
        where text_status = 1 and association_id = #{id} and start_time &lt; now() and end_time &gt; now()
        order by start_time desc
    </select>

    <select id="selectFutureByAssociation" parameterType="integer" resultType="ActivityInfo">
        select activity_id,activity_title,activity_image,activity_label,start_time,end_time
        from activity
        where text_status = 1 and association_id = #{id} and start_time &gt; now()
        order by start_time desc
    </select>

    <select id="selectPastByAssociation" parameterType="integer" resultType="ActivityInfo">
        select activity_id,activity_title,activity_image,activity_label,start_time,end_time
        from activity
        where text_status = 1 and association_id = #{id} and end_time &lt; now()
        order by start_time desc
    </select>

    <select id="selectCurrnetByStatus" resultType="ActivityInfo">
        select activity_id,activity_title,activity_image,activity_label,update_time
        from activity
        where text_status = #{status} and start_time &lt; now() and end_time &gt; now()
        <include refid="testRights" />
        order by update_time desc
    </select>

    <select id="selectFutureByStatus" resultType="ActivityInfo">
        select activity_id,activity_title,activity_image,activity_label,update_time
        from activity
        where text_status = #{status} and start_time &gt; now()
        <include refid="testRights" />
        order by update_time desc
    </select>

    <select id="selectPastByStatus" resultType="ActivityInfo">
        select activity_id,activity_title,activity_image,activity_label,update_time
        from activity
        where text_status = #{status} and end_time &lt; now()
        <include refid="testRights" />
        order by update_time desc
    </select>

    <select id="selectById" resultType="Activity" parameterType="integer">
        select *
        from activity as c join association as s on c.association_id = s.association_id
        where activity_id = #{id}
    </select>

    <select id="queryByKey" parameterType="string" resultType="ActivityInfo">
        select  activity_id,activity_title,activity_image,activity_label,update_time
        from activity
        where text_status = 1
          and (activity_title like #{key} or activity_label like #{key} or activity_text like #{key})
        <include refid="testRights" />
    </select>

    <select id="selectAll" resultType="ActivityInfo">
        select activity_id,activity_title
        from activity
        where text_stauts = #{status}
        <include refid="testRights"/>
    </select>

    <update id="addApply" parameterType="integer" >
        update activity
        set apply_number = apply_number + 1
        where activity_id = #{id}
    </update>

    <update id="publish">
        update activity
        set text_status = 1
        where activity_id = #{id}
        <include refid="testRights" />
    </update>

    <update id="update" parameterType="ActivityForm">
        update activity
        set activity_title = #{activityTitle},
            start_time = #{startTime},end_time = #{endTime},activity_text = #{activityText},
            activity_image = #{activityImage},activity_label = #{activityLabel},
            max_apply = #{maxApply},text_status = #{textStatus}
        where activity_id = #{activityId}
        <include refid="testRights" />
    </update>

    <insert id="insert" parameterType="ActivityForm" >
        insert activity   (
            association_id,activity_title,start_time,end_time,activity_text,
            activity_image,activity_label,max_apply,text_status
        )
        values (
            #{associationId},#{activityTitle},#{startTime},#{endTime},#{activityText},
            #{activityImage},#{activityLabel},#{maxApply},#{textStatus}
        )
    </insert>

    <delete id="delete" parameterType="integer">
        delete from activity
        where activity_id =#{id}
        <include refid="testRights" />
    </delete>
    
    <select id="selectByIdAndAssociation" resultType="ActivityInfo">
        select activity_id,activity_title,activity_image,activity_label,update_time
        from activity
        where activity_id  = #{activityId} 
        <include refid="testRights"/>
    </select>
    
</mapper>
