<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lvjp.association.mapper.ActivityMapper">

    <select id="selectLatest" parameterType="Integer" resultType="activityInfo" >
        select activity_id,activity_title,activity_image,activity_label
        from activity
        order by start_time desc limit #{count}
    </select>

    <select id="selectCurrent" resultType="activityInfo" >
        select activity_id,activity_title,activity_image,activity_label
        from activity
        where start_time &lt; now() and end_time &gt; now()
        order by start_time desc
    </select>

    <select id="selectFuture" resultType="activityInfo" >
        select activity_id,activity_title,activity_image,activity_label
        from activity
        where start_time &gt; now()
        order by start_time desc
    </select>

    <select id="selectPast" resultType="activityInfo" >
        select activity_id,activity_title,activity_image,activity_label
        from activity
        where end_time &lt; now()
        order by start_time desc
    </select>

    <select id="selectCurrentByAssociation" parameterType="Integer" resultType="activityInfo">
        select activity_id,activity_title,activity_image,activity_label,end_time
        from activity
        where association_id = #{id} and start_time &lt; now() and end_time &gt; now()
        order by start_time desc
    </select>

    <select id="selectFutureByAssociation" parameterType="Integer" resultType="activityInfo">
        select activity_id,activity_title,activity_image,activity_label,end_time
        from activity
        where association_id = #{id} and start_time &gt; now()
        order by start_time desc
    </select>

    <select id="selectPastByAssociation" parameterType="Integer" resultType="activityInfo">
        select activity_id,activity_title,activity_image,activity_label,end_time
        from activity
        where association_id = #{id} and end_time &lt; now()
        order by start_time desc
    </select>

    <select id="selectById" resultType="activityInfo" parameterType="Integer">
        select activity_id,association_name,activity_title,start_time,end_time,
                update_time,activity_text,activity_image,activity_label
        from activity as c join association as s on c.association_id = s.association_id
        where activity_id = #{id}
    </select>

    <update id="update" parameterType="top.lvjp.association.entity.Activity">
        update activity
        set association_id = #{associationId},activity_title = #{activityTitle},
            start_time = #{startTime},end_time = #{endTime},activity_text = #{activityText},
            activity_image = #{activityImage},activity_label = #{activityLabel},
            acstatus_status = #{acstatusStatus},text_status = #{textStatus}
        where activity_id = #{activityId}
    </update>

</mapper>