<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lvjp.association.mapper.NewsMapper">

    <sql id="testRights">
        <if test="associationId != 0">
            and association_id = #{associationId}
        </if>
    </sql>

    <select id="selectLatest" parameterType="integer" resultType="NewsInfo">
        select news_id,news_title,news_digest,publish_time
        from news
        where news_status = 1
        order by publish_time DESC limit #{count}
    </select>

    <!--<select id="getById" parameterType="Integer" resultType="newsInfo">-->
        <!--select news_id,association_name,news_title,news_author,news_text,news_digest,publish_time-->
        <!--from news as n join association as a on a.association_id = n.association_id-->
        <!--where news_id = #{id} and news_status = 1-->
    <!--</select>-->

    <select id="selectById" parameterType="integer" resultType="News">
        select *
        from news as n join association as a on a.association_id = n.association_id
        where news_id = #{id} and news_status = 1
    </select>

    <select id="selectByAssociation" parameterType="integer" resultType="NewsInfo">
        select news_id,news_title,news_digest,publish_time
        from news
        where association_id = #{id} and news_status = 1
        order by publish_time DESC limit 3
    </select>

    <select id="selectByStatus"  resultType="NewsInfo">
        select news_id,news_title,news_digest,update_time
        from news
        where news_status = #{status}
        <include refid="testRights" />
        order by update_time
    </select>

    <select id="selectByKey" resultType="NewsInfo">
        select news_id,news_title,news_digest,update_time
        from news
        where ( news_title like #{key} or news_digest like #{key} or news_author like #{key} or news_text like #{key} )
        <include refid="testRights"/>
    </select>

    <update id="publish" >
        update news
        set news_status = 1, publish_time = now()
        where news_id = #{id}
        <include refid="testRights"/>
    </update>

    <update id="update" parameterType="NewsForm">
        update news
        set news_title = #{newsTitle},news_digest = #{newsDigest},news_author = #{newsAuthor},news_text = #{newsText},news_image = #{newsImage},news_status = #{newsStatus}
        where news_id = #{newsId}
        <include refid="testRights"/>
    </update>

    <insert id="insert" parameterType="NewsForm">
        insert news
        set association_id = #{associationId},news_title = #{newsTitle},news_digest = #{newsDigest},news_author = #{newsAuthor},news_text = #{newsText},news_image = #{newsImage},news_status = #{newsStatus}
    </insert>

    <delete id="delete" >
        delete from news
        where news_id = #{id}
        <include refid="testRights"/>
    </delete>

</mapper>