<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lvjp.association.mapper.PictureMapper">

    <resultMap id="pictureInfo" type="PictureInfo">
        <id property="pictureId" column="picture_id"/>
        <result property="pictureTitle" column="picture_title"/>
        <result property="picturePath" column="picture_path"/>
    </resultMap>


    <!--<select id="listAll" resultMap="pictureVO">-->
        <!--select picture_id, picture_title, picture_path-->
        <!--from picture-->
        <!--order by picture_id desc -->
    <!--</select>-->

    <select id="listByAssociation" resultMap="pictureInfo">
        select picture_id, picture_title, picture_path
        from picture
        <if test="associationId != null">
            where association_id = #{associationId}
        </if>
        order by picture_id desc
    </select>

    <select id="getById" resultType="Picture">
        select picture_id, picture_title, picture_path, association_id, create_time, user_id, is_icon
        from picture
        where picture_id = #{pictureId}        
    </select>

    <select id="listHeadPicture" resultMap="pictureInfo">
        select picture_id, picture_title, picture_path
        from picture
        where is_icon = 2
    </select>

    <insert id="insert" parameterType="Picture">
        insert picture
          (picture_title, picture_path, association_id, user_id)
        values (#{pictureTitle}, #{picturePath}, #{associationId}, #{userId})
    </insert>



    <!--<update id="updateIcon">
        update picture
        set is_icon = #{isIcon}
        where picture_id = #{pictureId}
    </update>-->

    <!--<update id="addIconCount">-->
        <!--update picture-->
        <!--set is_icon = is_icon + 1-->
        <!--where picture_id = #{pictureId}-->
    <!--</update>-->

    <!--<update id="reduceIconCount">-->
        <!--update picture-->
        <!--set is_icon = is_icon - 1-->
        <!--where picture_id = #{pictureId}-->
    <!--</update>-->

    <delete id="delete">
        delete from picture
        where picture_id = #{id} and is_icon = 0
    </delete>

    <update id="updateIcon">
        update picture
        set is_icon = #{icon}
        where picture_id = #{id}
    </update>

</mapper>